<style type="text/css">
.lecture {
  padding: 20px;
  border-bottom: 1px solid #999;
}
.lecture a {
  font-size: 150%;
  font-weight: bold;
}
</style>

<div class="row">
  <% if !current_user.phone_number %>
    <div class="span3">
      <h3>Hey there!</h3>
  		<p><strong>Enter your phone number</strong> below to take notes from your phone!</p>
      <%= form_tag(lectures_path, :method => 'GET') do %>
  			<%= text_field_tag :phone_number, current_user.phone_number, :placeholder => '(212) 555-1212' %>
  			<%= submit_tag 'Save', :class => 'btn btn-success' %>
  		<% end %>
    </div>
  <% end %>

	<div class="span<%= current_user.phone_number ? 12 : 9 %>">
    <div class="page-header">
      <h1>Your Lectures</h1>
    </div>
    <%= link_to '<i class="icon-plus"></i> New lecture'.html_safe, new_lecture_path, :class => 'btn' %>
    <% for lecture in @lectures %>
      <div class="lecture">
        <%= link_to lecture.title, lecture_path(lecture)%>
        <div class="details"><%= pluralize lecture.notes.count, 'note' %>, created <%= time_ago_in_words lecture.created_at %> ago</div>
      </div>
    <% end %>

  </div>
</div>