<!DOCTYPE html>
<html>
<head>
  <title>Notable</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/notes.js"></script>
</head>
<body>
  
  <% [:alert, :notice].each do |key| %>
    <% if flash[key] %>
      <p class="alert"><%= flash[key] %></p>
    <% end %>
  <% end %>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">Notable</a>
        <% if user_signed_in? %>
        	<%= link_to "Sign Out", destroy_user_session_path, :class=>'btn pull-right' %>
        <% else %>
        	<%= link_to "Sign In", user_omniauth_authorize_path(:facebook), :class=>'btn pull-right' %>
        <% end %>
      </div>
    </div>
  </div>

  <br/><br/><br/>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>