<!DOCTYPE html>
<html>
<head>
  <title>Notable</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/gzi5paq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "NOTABLE", root_path, :class => "brand" %>
        <% if user_signed_in? %>
        	<%= link_to "Sign out", destroy_user_session_path, :class=>'btn btn-primary pull-right' %>
        <% else %>
        	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class=>'btn btn-success pull-right' %>
        <% end %>
      </div>
    </div>
  </div>

  <br/><br/><br/>

  <div class="container">
    <%= flashes %>
    <%= yield %>
  </div>

</body>
</html>